@import "normalize.css";

body {
  align-items: center;
  color: #110d2a;
  display: flex;
  font: normal 4.5vmin/1.4 system-ui, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;;
  padding: 1.953125em;
}

h1 {
  font-size: 1.953em;
  font-weight: normal;
  margin: 0;
}

a,
a:visited {
  color: #0000EE;
  display: inline-block;
  margin: 0 -0.134217728em;
  padding: 0 0.134217728em;
  position: relative;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  background-color: #0000EE;
  color: #fff;
  outline: none;
}

a::before {
  background: #0000EE;
  content: "";
  display: block;
  height: 0.134217728em;
  margin: 0 -0.134217728em;
  opacity: .5;
  position: absolute;
  top: 1em;
  width: 100%;
}

a:hover::before,
a:active::before,
a:focus::before {
  background: none;
}

em {
  color: #AAA9BD;
  font-style: normal;
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 1em 0;
}
