@import "normalize.css";
@import url('https://fonts.googleapis.com/css?family=Lora');

body {
  font: normal 6vmax/1.4 'Lora', serif;
  padding: 1em;
  color: #110d2a;
}

a {
  color: #0000EE;
}

a:hover {
  color: #fff;
  background-color: #0000EE;
}
